<div class="absolute bottom-0 z-20 w-full">
  <footer
    class="border-1border-[#e5e5e5] m-4 rounded-2xl bg-[rgba(255,255,255,.15)] p-4 shadow-lg backdrop-blur-md transition-colors sm:p-6 dark:border-0 dark:bg-[rgba(18,18,18,.35)]"
    data-testid="footer">
    <div>
      <hr class="my-4 border-black sm:mx-auto dark:border-white" />
      <div class="gap-x-4 md:flex md:justify-between">
        <div class="text-center sm:flex sm:items-center sm:text-start">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400" data-testid="footer-copyright"
            >© 2025 <a class="hover:underline" routerLink="/" data-testid="footer-link">DqvidTM</a>
          </span>
        </div>

        <ul
          class="mt-3 flex flex-col flex-wrap items-center gap-x-6 gap-y-4 text-sm font-medium sm:mt-0 sm:flex-row"
          data-testid="footer-link-list">
          <li>
            <a
              class="hover:underline"
              href="https://lennartloesche.de/datenschutz.html"
              data-testid="footer-privacy-policy"
              >{{ 'app.core.footer.links.privacyPolicy' | translate }}</a
            >
          </li>
          <li>
            <a class="hover:underline" routerLink="/impressum" data-testid="footer-impressum">{{
              'app.core.footer.links.imprint' | translate
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
