@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Eudoxus-Sans-ExtraBold';
  src: url('../public/assets/fonts/EudoxusSans-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eudoxus-Sans-Medium';
  src: url('../public/assets/fonts/EudoxusSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
