@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@plugin "@tailwindcss/typography";
@import './fonts.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #02a037;
  --color-primary-bg: #026420;
  --font-display: 'Inter', sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: 900;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 650;
  }
}

@layer utilities {
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60%,
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-wave {
    animation: 4s ease-in-out 2s wave infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  @apply text-black dark:text-white;
}

.om-particles-background > canvas {
  z-index: 1;
  position: relative;
}
